{% extends "base.html" %}
{% block title %}Question{% endblock %}

{% block content %}
<p> Here are the track sequences currently saved: </p>
<form action='#' method='post'>
<ul>
{% for item in data %}
    <li>{{item}} <input type="submit" name='{{item}}' value="Add New Song"/>   <input type="submit" name='{{item}}' value="Delete sequence"/> <br><br></li>
{% endfor %}
</ul>
</form>



<form action='#' method='post'>
    <p><input type="submit" name="submit" value="Add New Sequence"/><br></p>
    <p><input type="submit" name="submit" value="Save and Launch Automation!" /><br></p>
</form>

{% endblock %}