{% extends "base.html" %}
{% block title %}First Track{% endblock %}
{% block head %} <link rel="stylesheet" href="{{ url_for('static',filename='styles/Track_inputs.css') }}"> {% endblock %}

{% block content %}
<container class="all">
{% if data==1 %}
<p style="color:#FF0000"> Error: Song is not found </p>
{% endif %}
{% if data==2 %}
<p style="color:#FF0000"> Error: First track already exists! </p>
{% endif %}
<h3> Please Enter The First Track: </h3>
<form action='#' method='post'>
    <p class="info">Track Name:</p>
    <p><input type="text" name="Leading_song" /></p>
    <p class="info">Artist:</p>
    <p><input type="text" name="Leading_artist"></p>
    <p><input class="submit_track" type="submit" value="Submit" /></p>
</form>
</container>
{% endblock %}