{% extends "base.html" %}
{% block title %}Following Tracks{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='styles/Track_continuations.css') }}">{% endblock %}

{% block content %}
{% if data[1]==1 %}
<p style="color:#FF0000"> Error: Song is not found </p>
{% endif %}
<p> Current Sequence: {{data[0]}}</p>
<p> Enter Next Track: </p>
<form action='#' method='post'>
    <p class="info">Track Name:</p>
    <p><input type="text" name="following_song" /></p>
    <p class="info"> Artist:</p>
    <p><input type="text" name="following_artist" /></p>
    <p><input class="submit_track" type="submit" value="submit" /></p>
</form>
{% endblock %}